html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #0F0F0F;
    font-family: 'Inter', sans-serif;
}

h1 {
    font-size: 40px;
    color: #DEEAEE;
    text-align: center;
}

.container {
    max-width: 480px;
    margin: 0 auto;
}

#player {
  background-color: #DEEAEE;
}

button {
    font-family: 'Inter', sans-serif;
    background-color: #FFFFFF;
    border: 0;
    border-radius: 5px;
    font-size: 18px;
    padding: 10px 0;
}

button:hover {
    background-color: #fc0000;
    cursor: pointer;
}

button:active {
    background-color: #49fc03;
    border: 5px solid #fc0000;
}

button:focus {
    background-color: #49fc03;
    border: 5px solid #fc0000;
    outline: none;
}

.songs {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-top: 10px;
}